body {
	background:#F3F6F5;
}

button,
div,
form,
input {
margin: 10px;
}

h1 {
	font-weight:bold;
	font-size: 2em;
	text-align:center;
}

.float-left {
	float: left;
}

.attribution {
	clear:both;
}

button, input[type=submit] {
	font-size: 0.85em;
	padding: 5px;
	background: #4ABC96;
	color: #F3F6F5;
}

#image-input {
	width: 200px;
	height:20px;
}
